/*-------basic css-------*/
body{
    margin: auto;
    width: 50%;
    padding-top: 160px;
}

.whole{
    position: relative;
}

 
.hat_top{
    height: 40px;
    width: 40px;
    background: darkred;
    position: absolute;
    margin: -40px 30px;
}

.hat_bottom{
    height: 10px;
    width: 100px;
    background: darkred;
    position: absolute;
    margin: 0px 0px;
    z-index: 10;
}

.head{
    height: 100px;
    width: 100px;
    background: yellow;
    position: absolute;
    border-radius: 50%;
}

.left_eye{
    height: 10px;
    width: 8px;
    margin: 20px 20px 80px 30px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

.right_eye{
    height: 10px;
    width: 8px;
    margin: 20px 30px 80px 60px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

.nose{
    height: 14px;
    width: 8px;
    margin: 40px 45px;
    background: red;
    position: absolute;
}

.mouth{
    height: 20px;
    width: 40px;
    margin: 60px 30px;
    background: yellowgreen;
    position: absolute;
    border-radius: 0px 0px 30px 30px;
}
.body{
    height: 160px;
    width: 100px;
    background: darkblue;
    position: absolute;
    margin: 100px -5px;
    border-radius: 25px;
}

.left_arm{
    height: 120px;
    width: 20px;
    border-radius: 30px;
    position: absolute;
    background: darkblue;
    margin: 5px -8px;

}

.right_arm{
    height: 20px;
    width: 120px;
    border-radius: 30px;
    position: absolute;
    background: darkblue;
    margin: 110px 70px;
}

.under{
    height: 40px;
    width: 100px;
    background: green;
    position: absolute;
    margin: 240px -5px;
}

.left_leg{
    height: 120px;
    width: 25px;
    background: green;
    position: absolute;
    margin: 270px -5px;
}

.right_leg{
    height: 120px;
    width: 25px;
    background: green;
    position: absolute;
    margin: 270px 70px;
}

.left_feet{
    height: 20px;
    width: 40px;
    background: black;
    position: absolute;
    margin: 380px -5px;
    border-radius: 0px 20px 0px 0px;
}

.right_feet{
    height: 20px;
    width: 40px;
    background: black;
    position: absolute;
    margin: 380px 70px;
    border-radius: 0px 20px 0px 0px;
}

/*-------advanced css for movements-------*/

.rise{
    margin: -60px 0px;
    transform: rotate(30deg);
}

.rise2{
    margin: -40px -15px;
    transform : rotate(-60deg);
}